@charset "utf-8";
body {background-color: aliceblue;}
header>h1{
  color: brown;
  text-align: center;
}
header {
  border-bottom: solid 1px;
}
ul{border: dotted 1px;}
article h3  a,h3#샘플, nav>h3 {text-decoration: none; color: blue ; text-shadow: 3px 3px 3px skyblue;}

body p{font-size: 1em; text-indent: 1em; font-family: 휴먼편지체;}
footer{background-color: orange; border-radius: 15px;}