@charset "utf-8";
body{font-family:휴먼편지체;}
header h1{color: brown; text-align: center; font-family: malgun gothic;}
section{background-color: pink;}
span { color: blue;  font-weight: bolder; font-family: malgun gothic;}
footer{background-color: orange; border-radius: 15px;}